<div *ngIf="recipes.length > 0; else noData" class="recipe-container">
  <table class="recipe-table">
    <thead>
      <tr>
        <th>Nombre de la Receta</th>
        <th>Ingredientes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of recipes">
        <td>{{ recipe.name }}</td>
        <td>
          <ul>
            <li *ngFor="let ingredient of recipe.ingredients">
              {{ ingredient.name }}: {{ ingredient.quantity }}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noData><div class="loading">Están cargando los datos...</div></ng-template>
