* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

main {
  padding: 20px;
}

.welcome-section,
.considerations-section,
.order-section {
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
}



.order-form label {
  margin-bottom: 1rem;
  display: inline-block;
}

.order-form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.order-button {
  background-color: #98FB98;
  color: white;
  border: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.order-button:hover {
  background-color: #8FBC8F;
}

@media screen and (max-width: 600px) {
  nav ul li {
    display: block;
    margin: 10px 0;
  }
}
.loading-message {
  text-align: center;
  padding: 20px;
  color: #04AA6D;
  font-weight: bold;
}
